<div class="webTitle">
    <h1 class="title">ZumaiaBira</h1>
    <h1 class="subtitle">Descubre lugares, paseos y excursiones por la costa y la montaña</h1>   
</div>
    <div class="example-card">
         
        <mat-card-content *ngFor="let activity of activities">
            <mat-card class="target">

        <button class="{{ activity.tipo }}"> {{ activity.tipo }} </button> 
                    <a [routerLink]="['/actividad', activity._id]">
                        
                        <img mat-card-image  src="{{ activity.image }}" alt="">
                        </a>
                        <div class="details">
                            <div class="detail">
                                    <mat-icon>trending_flat</mat-icon>
                                    <p> {{ activity.distance }}  </p>
                                    <span> Km </span>
                            </div>
                            <div class="detail">
                                <mat-icon>trending_up</mat-icon>
                                <p>  {{ activity.unlevenless }}</p>
                                <span> m </span>
                            </div>
                            <div class="detail">
                                    <mat-icon>access_time</mat-icon>
                                    <p>  {{ activity.time  }}</p>
                                    <span> min </span>
                            </div>
                        </div>
                            <a [routerLink]="['/activities', activity._id]">
                            <h5>{{ activity.name }}</h5>     
                            </a>
                            <p>{{ activity.description }}</p>
            </mat-card>      
        </mat-card-content>
    </div>   
            <div class='butAddAct' *ngIf="isLoggedIn()">
            <button [routerLink]="['/nueva']" mat-fab class="add-question" color="accent"><mat-icon>add</mat-icon></button>
            </div>

<div class="containerBlue">
    <div class="content">
            <div class="textBlue">
                    <h4>Descarga la App gratuita en tu mobil</h4>
                    <p class='subtitle'>Si vas  a visitar Zumaia, o te encuentras ya. Descargate la app en tu ovil, para poder realizar las excursiones y paseos propuestos</p>
                    <img class="imgButton" src='../../assets/img/button.png'>
            </div>
           <div class="imageBlue">
               <img class="mobilImage" src='../../assets/img/iphone.png'>
           </div>
    </div>
</div>  
<app-weather-icons></app-weather-icons>       

