.details, .detail {
    display: flex;
    justify-content: space-around;
    color: grey;
    background-color: #f4f4f4;
  
}
.details {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media(max-width: 599px){
    .details {
        margin-left: -16px;
        margin-right: -16px;
    }
}
.detail{
    background: white;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 25px;
    color: green;
    font-weight: 300;
}
p {
    margin:0;
    font-weight: 300;
}
.example-card {
    margin: 0 auto;
    padding: 100px 100px 50px 100px;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.target{
    padding-top: 1px;
}
/* .mat-card-content{
    margin-bottom: 50px;
} */
.space {
    flex: 1 1 auto;
}
.navColor{
    background-color: white;
}
.mat-card{
    max-width: 400px;
} 
.example-card{
    width: 100%;
}
.icon{
    width: 30px;
}


.webTitle{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 152px;
    padding-right: 152px;
}
h1{
    font-size: 22px;
    font-weight: 200;
}
.title{
    color:#275CE3;
    font-weight: bold;
}

.excursion{
    background-color: #ffd147;
    color: white;
    border-radius: 25px;
    position: relative;
    top: 40px;
    left: -40px;
    border: 0;
}
.lugar{
    background-color: #47d5ff;
    color: white;
    border-radius: 25px;
    position: relative;
    top: 40px;
    left: -40px;
    border: 0;
}
.paseo{
    background-color:blue;
    color: white;
    border-radius: 25px;
    position: relative;
    top: 40px;
    left: -40px;
    border: 0;
}

a {
    text-decoration: none;
}
h5{
    color: black;
    padding-top: 20px;
}
.butAddAct{
    margin-bottom: 40px;
    margin-right: 100px;
    text-align: right;
}
@media (max-width: 830px) {
    .example-card{
        padding: 30px;
    }
    .webTitle{
        padding-left: 50px;
        padding-right: 50px;
    }
  }
.menuLinks{
    color: gray;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    padding-right: 14px;
}
.containerBlue{
    background: rgba(77,158,234,1);
    background: -moz-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,158,234,1)), color-stop(35%, rgba(77,158,234,1)), color-stop(78%, rgba(123,189,239,1)), color-stop(100%, rgba(123,189,239,1)));
    background: -webkit-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: -o-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: linear-gradient(to right, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d9eea', endColorstr='#7bbdef', GradientType=1 );
    color: white;
    padding: 35px 80px 100px 80px;
    max-height: 350px;
}
.textBlue{
    max-width: 37%;
    margin-top: 40px;
    margin-right: 100px;
}
.mobilImage{
    max-width: 200px;
    margin-left: 20px;
}
.content{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.subtitle{
    font-weight: 100;
}
.imgButton{
    width: 150px;
    margin-top: 30px;
}

@media (max-width: 830px) {
    .subtitle{
       display: none;
   }
   .textBlue{
       margin-right: 20px;
       max-width: 53%;
       margin-top: 36px; 
   }
   h4{
       font-size: 1.3em;
   }
   .mobilImage{
       max-width: 100px;
   }
   .imgButton{
       margin-top: 70px;
       margin-left: 54px;

   }
  }