<mat-toolbar class="navColor">
	<img class="icon" [routerLink]="['/']" src='../../assets/img/zumaia-bira.png'>
	<span class="space"></span>
	<div *ngIf="isLoggedIn()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon >account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            {{ fullName() }}
          </button>
          <button mat-menu-item (click)="logout()">
                Cerrar sesión
          </button>
          
        </mat-menu>
    </div> 
    <div *ngIf="!isLoggedIn()">
        <a class="menuLinks" [routerLink]="['/']">Itinerarios</a>
        <!-- <a class="menuLinks" [routerLink]="['/']">Idioma</a> -->
        <a class="menuLinks" [routerLink]="['/contacto']">Contacto</a>
    </div>               
</mat-toolbar>
<div class='container mt-5 formMail'>
    <h2>Formulario de contacto</h2>
    <form (ngSubmit)='contactForm(form.value)' #form='ngForm'>
    <div class='form-group'>
    <label>Nombre</label>
    <input type='text' class='form-control' name='nombre' ngModel>
    </div>
    <div class='form-group'>
    <label>Asunto</label>
    <input type='text' class='form-control' name='asunto' ngModel>
    </div>
    <div class='form-group'>
    <label>E-mail</label>
    <input type='email' class='form-control' name='email' ngModel>
    </div>
    <div class='form-group'>
    <label>Mensaje</label>
    <textarea class='form-control' cols='30' rows='6' name='mensaje' ngModel></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>Enviar</button>
    </form>
</div>