
<div class="timeIcons">
    <div>   
        <p class="weekDays">HOY</p>
        <img class='weatherI' src="{{urlImageWeather1}}">
        <p>   {{ tempMin }}º / {{ tempMax }}º  </p>
    </div>
    <div>
        <p class="weekDays">{{day2}}</p>
        <img class='weatherI' src="{{urlImageWeather2}}">
        <p>   {{ tempMin2 }}º / {{ tempMax2 }}º  </p>
    </div>
    <div>
        <p class="weekDays">{{day3}}</p>
        <img class='weatherI' src="{{urlImageWeather3}}">
        <p>   {{ tempMin3 }}º / {{ tempMax3 }}º  </p>
    </div>
    <div>
        <p class="weekDays">{{day4}}</p>
        <img class='weatherI' src="{{urlImageWeather4}}">
        <p>   {{ tempMin4 }}º / {{ tempMax4 }}º  </p>
    </div> 
    <div>
        <p  class="weekDays">{{day5}}</p>
        <img class='weatherI' src="{{urlImageWeather5}}">
        <p>   {{ tempMin5 }}º / {{ tempMax5 }}º  </p>
    </div>
</div>


