<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="example-form" enctype="multipart/form-data">
    <mat-input-container>
        <input  
        matInput 
        placeholder="{{ activityName }}" 
        name="name" 
        ngModel>
    </mat-input-container>
    <mat-input-container>
        <input matInput placeholder="Descripción" name="description" ngModel>
    </mat-input-container>
    <mat-input-container>
        <input matInput placeholder="Unlevenless" name="unlevenless" ngModel>
    </mat-input-container>
    <mat-input-container>
        <input matInput placeholder="Time" name="time" ngModel>
    </mat-input-container>
    <mat-form-field>
        <mat-select placeholder="Tipo" name="tipo" ngModel>
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                {{ tipo.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
</form>