li, .logoFooter{
    margin-top: 100px;
    margin-bottom: 100px;
}
.logoFooter1 {
    display: none;
}
@media (max-width:674px){
    li{
        margin: 4px auto;
    }
    ul {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .logoFooter1{
        margin: 20px auto;
        width: 60px;
        height: 60px;
        display: block;
    }
    .logoFooter{
        display: none;
    } 
}
.logoFooter{
    height: 40px;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.fooLink{
    color: white;
}
footer{
    background-color: black;
    padding-top: 30px;
}
.space {
    flex: 1 1 auto;
}
.navColor{
    background-color: white;
}
.mat-card{
    max-width: 400px;
} 
.example-card{
    width: 100%;
}
.icon{
    width: 30px;
}
.menuLinks{
    color: gray;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    padding-right: 14px;
}