
<router-outlet></router-outlet>

<footer>
  <ul>
      <li><a class="fooLink" [routerLink]="['/']">Itinerarios</a></li>
      <li><a  class="fooLink" [routerLink]="['/nota-legal']">Nota legal</a></li>
      <img class='logoFooter' src='../../assets/img/logo-footer.png'>
      <li><a class="fooLink" [routerLink]="['/tiempo']">El tiempo</a></li>
      <li><a  class="fooLink"  [routerLink]="['/contacto']">Contacto</a></li>
      <img class='logoFooter1' src='../../assets/img/logo-footer.png'>
  </ul>
</footer>