<mat-toolbar class="navColor">
    <img class="icon" [routerLink]="['/']" src='../../assets/img/zumaia-bira.png'>
    <span class="space"></span>
    <a class="menuLinks" [routerLink]="['/']">Itinerarios</a>
    <!-- <a class="menuLinks" [routerLink]="['/']">Idioma</a> -->
    <a class="menuLinks" [routerLink]="['/contacto']">Contacto</a>
             
    <button *ngIf="!isLoggedIn()" [routerLink]="['/signin']"  mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <div *ngIf="isLoggedIn()">
        <a class="menuLinks" [routerLink]="['/nueva']">nueva actividad</a>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon class="iconUser">account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              {{ fullName() }}
            </button>
            <button mat-menu-item (click)="logout()">
                  Cerrar sesión
            </button>
            
          </mat-menu>
      </div> 
      <div>
        <a href="https://www.instagram.com/zumaiabira/">
          <i class="fab fa-instagram 7x iconInsta"></i>
        </a> 
      </div>
  </mat-toolbar>
<router-outlet></router-outlet>

<footer>
  <ul>
      <li><a class="fooLink" [routerLink]="['/']">Itinerarios</a></li>
      <li><a  class="fooLink" [routerLink]="['/nota-legal']">Nota legal</a></li>
      <img class='logoFooter' src='../../assets/img/logo-footer.png'>
      <li><a class="fooLink" [routerLink]="['/tiempo']">El tiempo</a></li>
      <li><a  class="fooLink"  [routerLink]="['/contacto']">Contacto</a></li>
      <img class='logoFooter1' src='../../assets/img/logo-footer.png'>
  </ul>
</footer>
