li, .logoFooter{
    margin-top: 100px;
    margin-bottom: 100px;
}
.logoFooter{
    height: 40px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}
footer{
    background-color: black;
}
.containerBlue{
    background: rgba(77,158,234,1);
    background: -moz-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,158,234,1)), color-stop(35%, rgba(77,158,234,1)), color-stop(78%, rgba(123,189,239,1)), color-stop(100%, rgba(123,189,239,1)));
    background: -webkit-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: -o-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    background: linear-gradient(to right, rgba(77,158,234,1) 0%, rgba(77,158,234,1) 35%, rgba(123,189,239,1) 78%, rgba(123,189,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d9eea', endColorstr='#7bbdef', GradientType=1 );
    color: white;
    padding: 35px 80px 100px 80px;
    max-height: 350px;
}
.textBlue{
    max-width: 37%;
    margin-top: 40px;
    margin-right: 100px;
}
.mobilImage{
    max-width: 200px;
    margin-left: 20px;
}
.content{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.subtitle{
    font-weight: 100;
}
.imgButton{
    width: 150px;
    margin-top: 30px;
}
@media (max-width: 830px) {
    .subtitle{
       display: none;
   }
   .textBlue{
       margin-right: 20px;
       max-width: 53%;
       margin-top: 36px; 
   }
   h4{
       font-size: 1.3em;
   }
   .mobilImage{
       max-width: 100px;
   }
   .imgButton{
       margin-top: 70px;
       margin-left: 54px;

   }
  }